.attribution {
        font-size: 0.6875rem;
        text-align: center;
      }
.attribution a {
        color: hsl(228, 45%, 44%);
}

.white-border {
  border: 5px solid hsl(0, 0%, 100%);
  border-radius: 5%;
}

img {
  height: 45%;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

#container {
  flex-direction: column;
  height: 58%;
  width: 15%;

  background-color: hsl(0, 0%, 100%);
}

#improve {
  font-weight: 700;
  width: 90%;
  text-align: center;
}

#scan {
  font-weight: 400;
  color: hsl(216, 15%, 48%);
  width: 90%;
  text-align: center;
}

footer {
  width: 85%;
}

body {
  background-color: hsl(212, 45%, 89%);

  font-family: "Outfit", sans-serif;
  font-size: 15px;
  height: 100vh;
}
